@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&family=Shadows+Into+Light&display=swap');
a{  text-decoration: none;
}
li{
    list-style: none;
}
.bg2{
    background: url(../img/bg2.png);
    background-size: cover;
    background-position: center;
    padding: 6.5rem 0px 6.5rem 0px;
}
.geo{
    font-family: "Georgian";
}
.bg{
    background: rgba(102, 142, 104, 1);
}
.l-bg{
    background: url(../img/drinks1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.abs{
    z-index: 2;
    width: 100%;
}
.circle{
    &>div{
    border: 9px solid rgba(129, 97, 59, 1);
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    }
    &>div:nth-child(1){
        background: url(../img/drinks1.png);
    }
    &>div:nth-child(2){
        background: url(../img/drinks2.png);
    }
    &>div:nth-child(3){
        background: url(../img/drinks3.png);
    }
}
.keep_all {
    word-break: keep-all;
}
.button1{
    border: none;   
}
.bg3{
    background: url(../img/cafe1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8.625rem 0px 9.1875rem;
}
.zag-menu{
    margin-top: 3.75rem;
}
.zag-grand{
    font-family: "Shadows Into Light";
    font-weight: 400;
    font-size: 6.875rem;
    color: rgba(255, 255, 255, 1);
}
.about{
    color: rgba(255, 255, 255, 1);
    gap: 2rem;
    &>div:nth-child(2){
        max-width: 22.97rem;
    }
    &>div:nth-child(3){
        margin-top: 1.75rem;
    }
}
.bg4{
    background: rgba(129, 97, 59, 0.2);
    padding: 5.1875rem 1rem;
}
.zag-news{
    margin: 5rem 0px 3.875rem 0px;
}
.news{
    border: 1px solid rgba(102, 142, 104, 1);
    background-color: #FFFFFF;
}
.zagolovok{
    color: rgba(0, 0, 0, 1);
    line-height: 2.187.5rem;
    font-weight: 400;
    &>h2:nth-child(1){
        font-family: "Shadows Into Light";
        font-size: 2.5rem;
    }
    &>h2:nth-child(2){
        font-family: "Georgian";
        font-size: 1.625rem;
    }
}
.zag2{
    color: rgba(255, 255, 255, 1);
}
.bg5{
    background: rgba(0, 0, 0, 1);
}
footer{
    color: rgba(255, 255, 255, 1);
}
.up{
    position: absolute;
    bottom: 1rem;
    right: 1.2rem;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px){
    .list {
        margin-top: 1rem;
    }
    .bg3{
        background: url(../img/About.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 8.625rem 0px 0px;
    }
    .zag-grand{
        font-size: 3.125rem;
    }
}